- id: gitpushauto-nightly
  alias: Git auto-sync nightly 02:00
  triggers:
  - at: 02:00:00
    trigger: time
  actions:
  - action: shell_command.git_sync
  - delay:
      hours: 0
      minutes: 0
      seconds: 30
      milliseconds: 0
  - action: homeassistant.restart
    metadata: {}
    data: {}
  mode: single
- id: '1762902807687'
  alias: Git Synch - Push / Pull Button
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - input_button.git_synch
  conditions: []
  actions:
  - action: shell_command.git_sync
    metadata: {}
    data: {}
    response_variable: git_synch_output
  - action: input_text.set_value
    metadata: {}
    data:
      value: " >\n      {% if git_sync_output.stdout | trim != '' %}\n        {{ git_sync_output.stdout
        }}\n      {% elif git_sync_output.stderr | trim != '' %}\n        {{ git_sync_output.stderr
        }}\n      {% else %}\n        Return code: {{ git_sync_output.returncode }}\n
        \     {% endif %}"
    target:
      entity_id: input_text.input_text_git_sync_output
  mode: single
