- id: gitpushauto-nightly
  alias: Git auto-sync nightly 02:00
  triggers:
  - at: 02:00:00
    trigger: time
  actions:
  - action: shell_command.git_sync
  - delay:
      hours: 0
      minutes: 0
      seconds: 30
      milliseconds: 0
  - action: homeassistant.restart
    metadata: {}
    data: {}
  mode: single
- id: '1762902807687'
  alias: Git Synch - Push / Pull Button
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - input_button.git_synch
  conditions: []
  actions:
  - action: shell_command.git_sync
    metadata: {}
    data: {}
    response_variable: git_sync_output
  - action: system_log.write
    metadata: {}
    data:
      level: info
      message: '"git_sync_output = {{ git_sync_output }}"'
  - action: input_text.set_value
    metadata: {}
    data:
      value: "{% set out = git_sync_output.stdout | default('', true) %} {% set err
        = git_sync_output.stderr | default('', true) %} {% set code = git_sync_output.returncode
        | default('unknown') %} {% if out | trim | length > 0 %}\n  {{ out }}\n{%
        elif err | trim | length > 0 %}\n  {{ err }}\n{% else %}\n  Return code: {{
        code }}\n{% endif %}\n"
    target:
      entity_id: input_text.git_sync_output
  mode: single
- id: '1762918285814'
  alias: Auto Backup - Button
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - input_button.auto_backup
  conditions: []
  actions:
  - action: backup.create_automatic
    metadata: {}
    data: {}
  mode: single
